.container {
  margin: 0 !important;
}
.confirmed {
  color: #002c57;
  background-image: linear-gradient(
    rgb(165, 201, 253) 0%,
    rgb(189, 229, 252) 100%
  );
}

.recovered {
  color: #005c25;
  background-image: linear-gradient(
    rgb(155, 232, 156) 0%,
    rgb(205, 249, 125) 100%
  );
}

.deaths {
  color: #5a0401;
  background-image: linear-gradient(
    rgb(254, 134, 131) 0%,
    rgb(255, 157, 155) 100%
  );
}

.active {
  color: #582801;
  background-image: linear-gradient(
    rgb(246, 206, 104) 0%,
    rgb(253, 166, 130) 100%
  );
}
