body {
  background-color: rgb(250, 250, 250);
}

.container {
  text-align: center;
  padding: 0 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.image {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 370px;
}

@media (max-width: 480px) {
  .image {
    width: 80%;
  }
}
